.hero {
  width: 100%;
  height: auto;
  padding: 25px 60px;

  img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 10px;
  }
}

.location {
  background: $grey;
  height: 19em;
  text-align: center;

  .location__city {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $ligh-grey;
    height: 3em;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    i {
      padding: 10px;
    }
  }

  .location__menu {
    line-height: 2;
    padding: 10px 15px;

    h2 {
      font-style: normal;
      font-weight: 100;
      padding-bottom: 20px;
    }

    button {
      width: 200px;
      height: 45px;
      border-radius: 20px;
      background: linear-gradient(to right, $purple, $pink);
      color: #fff;
      border: transparent;
      font-weight: bold;
      animation: SlideIn 1s 3.1s;
      transition: all 1s ease-out;
      &:hover {
        @include light;
      }
    }
  }
}

@media screen and(max-width: 767px) {

  .hero {
    display: none;
  }

  .location {

    background: $grey;
    text-align: center;

    .location__city {
      font-weight: 500;
    }

    .location__menu {

      h1 {
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        padding-bottom: 15px;
      }

      h2 {
        font-size: 1.2em;
        line-height: 1.5;
      }

      button {
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        word-spacing: 3px;
      }

    }
  }

  #main {

    h3 {
      text-align: left;
    }

    .main__buttons {
      display: flex;
      padding: 10px 20px;
      flex-direction: column;
      gap: 30px;

      button:hover i {
        color: $purple;
      }

      button {
        height: 5em;
        width: 100%;
        border-radius: 20px;
        border: transparent;
        background: #F6F6F6;

        .button__details {
          display: flex;
          padding: 0px 30px;

          i {
            font-size: 16px;
            padding-right: 25px;
            font-weight: bold;
            color: darkgrey;
          }
        }
      }
    }
  }

}