.container {
  font-family: $font-page;
  font-weight: 100;
  line-height: 1.7;
  font-size: 15px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: $font-title;
  font-weight: 300;
  font-size: 3rem;


}