// variables


// colors

$purple: #9356DC;
$pink: #FF79DA;
$teal: #99E2D0;
$white: #fff;
$grey: #F6F6F6;
$ligh-grey: #EAEAEA;
$footer-bgc: #353535;


// fonts

$font-page: 'Roboto', sans-serif;
$font-title: 'Shrikhand',
cursive;